* {
font-family: "Poetsen One", sans-serif;
}
  
body {
    font-family: 'Poetsen One', sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    min-height: 90vh;
    margin: 0;
    padding: 0;
    background-color: #332550;
    justify-content: center;
    align-items: center;
}

.poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.cabinadejuego {
    width: 850px;
    background-color: #3F6B3F;
    align-items: center;
    display: flex;
    padding: 60px 40px;
    gap: 70px;
    border-radius: 15px

}

.ahorcado img {
    max-width: 300px;
    
}
 .ahorcado h1 {
    margin-top: 25px;
    text-align: center;
 }

 .ahorcado b {
    text-transform: uppercase;
 }

.linealetra {
    display: flex;
    gap: 15px;
    list-style: none;
}

.letra {
    width: 30px;
    border-bottom: 4px solid white;
    margin-bottom: 40px;
    text-transform: uppercase;
    
}

.teclado {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 6px; 
   max-width: 350px;
}

.teclado button {
    color: white;
    background-color: #332550;
    text-transform: uppercase;
    cursor: pointer;
    width: calc(100%/9-5px);
    padding: 10px;
    border-radius: 20px;
    display: flex;
 }

.reiniciar {
    display: flex;
    color: white;
    background-color: #fb5800;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 10px;
}