* {
    font-family: "Poetsen One", sans-serif;
    }
      
    body {
        font-family: 'Poetsen One', sans-serif;
        font-size: 14px;
        color: white;
        display: flex;
        min-height: 90vh;
        margin: 0;
        padding: 0;
        background-color: #332550;
        justify-content: center;
        align-items: center;
    }

    .tablapuntaje {
        justify-content: center;
        display: flex;
    }

    .presentacion {
        justify-content: center;
    }
    .presentacion h1{
        font-size: 50px;
        text-align: center;


    }

    .presentacion h3{
        text-align: center;

    }
    .presentacion h2{
        text-align: center;
        margin-top: 50px;

    }


    .presentacion input{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 30px;
        border-radius: 10px;

    }
    .presentacion button {
        display: flex;
        color: white;
    background-color: #fb5800;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    border-radius: 10px;
    
    }

    .tablapuntaje {
        border-width: 5px;
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        margin-top: 80px;
        
     }

     .tablapuntaje td,th{
        border: 3px solid #fb5800;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
     }